mixin overlay()

    +b('section').overlay
        +e('p').text Пожалуйста, поверните экран своего устройста
        +e('p').caveat *Не&nbsp;забудьте включить функцию поворот экрана на&nbsp;устройстве