mixin popup()

    +b('section').popup
        +e.foto
            img(src='/images/popup.png')
        +e.content
            +e('P').chapter <span>Hе</span> дам!
            +e('p').text Кофе дает кратковременный эффект бодрости,<br> но&nbsp;в&nbsp;долгосрочной перспективе лишает энергии, согласно исследованиям тех самых (читай: британских) ученых . К&nbsp;тому&nbsp;же, кофе перенапрягает центральную нервную систему и&nbsp;повышает тревожность. Чай также дает энергию в&nbsp;краткосрочной перспективе за&nbsp;счет содержания кофеина, но&nbsp;менее вреден для здоровья и&nbsp;сна.
            +e.cross
                img(src='/images/cross.png')
            +e.actions 
                +e('button').button далее
