@font-face
	font-family 'FuturaPTDemi'
	src url('../../fonts/FuturaPTDemi.woff2') format('woff2')

@font-face 
	font-family 'FuturaPT'
	src url('../../fonts/FuturaPTMedium.woff2') format('woff2')

@font-face 
	font-family 'FuturaPTLight'
	src url('../../fonts/FuturaPTLight.woff2') format('woff2')

@font-face 
	font-family 'MontaguSlab'
	src url('../../fonts/MontaguSlab.woff2') format('woff2')

@font-face 
	font-family 'Roboto'
	src url('../../fonts/Roboto.woff2') format('woff2')