$ff-FuturaPT = 'FuturaPT', sans-serif
$ff-FuturaPTLight = 'FuturaPTLight', sans-serif
$ff-FuturaPTDemi = 'FuturaPTDemi', sans-serif
$ff-MontaguSlab = 'MontaguSlab', sans-serif
$ff-Roboto = 'Roboto', sans-serif

$c-black = #000
$c-white = #fff
$c-grey = rgb(79, 79, 79)
$c-gradindex = linear-gradient(180deg, #FCD931 0%, #F6A631 100%)
$c-yellow = #FFD105